<div class="top-bar">
  <button class="add-btn" [routerLink]="['/food/detail',0]" nz-button nzType="primary">新增</button>
</div>
<nz-table #basicTable [nzData]="foods">
  <thead>
    <tr>
      <th>菜品图片1</th>
      <th>菜品名称</th>
      <th>菜品分类</th>
      <th>菜品描述</th>
      <th>菜品价格</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td> <img [src]="data.imgUrl" width="50" height="50"></td>
      <td>{{ data.name }}</td>
      <td>{{ data.type | foodTypeFormate }}</td>
      <td>{{ data.desc }}</td>
      <td>{{ data.price }} 元</td> 
      <td>
            <button [routerLink]="['/food/detail',data.id]" nz-button nzType="primary">编辑</button>
            &nbsp;
            <button nz-button nzType="danger" (click)="delFood(data.id)">删除</button>
      </td> 
    </tr>
  </tbody>
</nz-table>
